.page_header {
	border-bottom: solid 1px #eee;
	text-align: center;
}
h1 {
	padding-bottom: 20px;
}
input {
	width: 150px;
}
select {
	width: 164px;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}
#push,
#footer {
	height: 100px;
}
#footer {
	background-color: #f5f5f5;
}
#footer p {
	margin: 20px 0;
}
.formbox {
	position: relative;
	margin: 15px 0;
	padding: 0px 14px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.formbox legend {
	position: relative;
	padding: 3px 7px;
	top: -1px;
	left: -15px;
	border: 1px solid #ddd;
	font-size: 12px;
	font-weight: bold;
	color: #9da0a4;
	width: auto;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
	line-height: normal;
}
.controls>.radio:first-child, .controls>.checkbox:first-child {
	padding-top: 0;
}
hr {
	margin: 5px 0;
}